{% extends "admin/base.html" %}

{% block title %}
Aquarium site admin
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Aquarium Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
