{% extends "base.html" %}


{% block title %}
Your aquariums
{% endblock %}

{% block branding %}
<h1><a class="link" href="{% url 'Aquariums' %}">Aquariums</a></h1>
{% endblock %}

{% block content %}
	
{% endblock %}

{% block sidebar %}
{% endblock %}
