{% extends "base.html" %}


{% block title %}
Your aquariums
{% endblock %}


{% block content %}
		<div id="left">
			<form action="/aquariums/add_aquarium/" method="post">
				{% csrf_token %}
				{{ formAddAquarium }}
				<input class="btnAddAquarium" type="submit" value="Добавить" />
			</form>
		</div>
       <div id="Aquarium">
		{%if aquariums%}

		<table class="Tables" border="1">
			<tr class="TablesFirsTr">
				<td>
					Название
				</td>
				<td>
					Объем
				</td>
				<td>
					Степень заполненности
				</td>
				<td>
					Действия
				</td>
			</tr>

	        {% for aquarium in aquariums %}
	            <tr class="AquariumTR">
	        		<td>
	        			<a id="tableA" href="/aquarium/{{aquarium.id}}" >{{ aquarium.name }}</a>
        			</td>
        			<td>
        				{{ aquarium.waterVolume }}
        			</td>
        			<td>
        				{{aquarium.filledWater}}
        			</td>
        			<td>
        				<form onsubmit="return DeleteAquarium()" action="/aquariums/delete_aquarium/" method="post">
							{% csrf_token %}
							<input hidden="true" type="text" value="{{aquarium.name}}" name="aquaName" />
							<input type="image" src="../static/aquarium/image/delete.png" alt="" name="deleteBtn">
						</form>
        				<form onsubmit = "return LifeCycle()" action="/aquariums/generate_aquarium/" method="post">
							{% csrf_token %}
							<input hidden="true" type="text" value="{{aquarium.name}}" name="aquaName" />
							<input type="image" src="../static/aquarium/image/generate.png" alt="" name="generateBtn">
						</form>
        			</td>
	        	</tr>
	        {% endfor %}
        	
		</table>
		{%endif%}		
</div>

		{%if aquariums%}
		 	<!--<table>
    		<tr><br /></tr>
	        {% for aquarium in aquariums %}
        		<th class="row">
	            <tr>
	        		<td>
	        			<a id="tableA" href="/aquarium/{{aquarium.id}}" >{{ aquarium }}</a>
        			</td>
        			<td>
        				<form action="/aquariums/delete_aquarium/" method="post">
							{% csrf_token %}
							<input hidden="true" type="text" value="{{aquarium.name}}" name="aquaName" />
							<input type="image" src="../static/aquarium/image/delete.png" alt="" name="deleteBtn">
						</form>
        			</td>
        			<td>
        				<form action="/aquariums/generate_aquarium/" method="post">
							{% csrf_token %}
							<input hidden="true" type="text" value="{{aquarium.name}}" name="aquaName" />
							<input type="image" src="../static/aquarium/image/generate.png" alt="" name="generateBtn">
						</form>
        			</td>
	        	</tr>
        		</th>
	        	<tr></tr>
	        {% endfor %}
        	<tr><br /></tr>
	        </table> 	!-->
 		{% endif %}
{% endblock content%}

{% block sidebar %}
{% endblock %}
