{% extends "base.html" %}

{% block title %}
Your aquariums
{% endblock %}
{% block content %}
        	<div id="left">
			<form action="change_aquarium/" method="post">
				{% csrf_token %}
				{{ changeAquariumForm }}
				<input class="btnAddAquarium" type="submit" value="Изменить" />
			</form>
			</div>
        	<h1>Название аквариума: {{name}}</h1>
	        <h2>Статистика аквариума</h2>
	        <div class="Statistic">
		        <table class="Tables" border="1" >
		        {% for key, value in statistic.items %}
		            <tr>
		            	<td>{{key}}</td>
		            	<td>:</td>
		            	<td>{{value}}</td>
		        	</tr>
		        {% endfor %}
		        </table>
	        </div>
	        <br>
	        <br>
	        <br>
	        <div class ="AddingFish">
		        <form action="add_fish/" method="post">
					{% csrf_token %}
			        {{ addFish }}     
					<input class="btnAddAquarium" type="submit" value="Добавить" />
				</form>
			</div>
		{% if fishes%}
	        	<table class="Tables">
		        <caption>Рыбки в аквариуме</caption>
			        <tr>
				        <th colspan="6">
	    						<form action="clear_aquarium/" method="POST">
									{% csrf_token %}	
									<input class="btnAddAquarium" type="submit" alt="" value="Очистить аквариум">				
								</form>			        
						        <form action="generate_aquarium/" method="post">
									{% csrf_token %}
									<!--<input type="submit" src="../static/aquarium/image/generate.png" alt="" value="цикл">!-->
										<input class="input" type="text" value="Кол-во циклов" onclick="this.value=''" size="10" name="CountLife">
										<input class="btnAddAquarium" type="submit" alt="" value="Цикл жизни">
								</form>
				        </th>
			        </tr>
		        {% for fish in fishes %}
		        	{%if forloop.first%}
			        	<tr class="TablesFirsTr">
				            	{% for key, value in fish.dict.items %}
				            	{% if key == "id" %}
						            <td>
						            Действия
						            </td>
					            	<td>
							            {{key}}
						            </td>
					            {%else%}
						            <td>
							            {{key}}
						            </td>
								{%endif%}
					            {% endfor %}
			        	</tr>
		        	{%endif%}
			        	<tr >
				            {% for key, value in fish.dict.items %}
				            	{% if key == "id" %}
						            <td>
						            	<form action="transplant_fish/{{value}}/" method="post">
											{% csrf_token %}
											{{transplantFishFrom.aquarium }}
											<!--<input type="text" value="{{value}}" hidden="true" name="fishID" />!-->
											<input  type="submit" value="Пересадить" / >
										</form>
										<form onsubmit="return DeleteFish()" action="delete_fish/{{value}}/" method="post">
											{% csrf_token %}
											<input  type="submit" value=" Удалить " / >
										</form>		            
						            </td>
						            <td>
							            {{value}}
						            </td>
					            {%elif key == "Тип"%}
					            	<td>
					            		<div class="hint" data-title="{{fish.fishType.GetInformation}}">
							            	{{value}}
							            </div>
						            </td>
					            {%else%}
						        	<td>
							            {{value}}
						            </td>
								{%endif%}
					            {% endfor %}
			        	</tr>
		        {%endfor%}
		        </table>
	        <div class="row">
	        	<div id = "pagination">
	        		<ul>
	        			{%if fishes.has_previous %}
	        				<li class=""><a href ="/aquarium/{{id}}/page/{{fishes.previous_page_number}}">Предыдущая</a></li>
	        			{%else%}
	        				<li><a href="">Предыдущая</a></li>
	        			{%endif%}
	        			{%for page in fishes.paginator.page_range %}
	        				{%if page == fishes.number %}
	        					<li class="current"><a class="current" href ="/aquarium/{{id}}/page/{{page}}">{{page}}</a></li>
	        				{%else%}
	        					<li><a href = "/aquarium/{{id}}/page/{{page}}">{{page}}</a></li>
	        				{%endif%}
	        			{%endfor%}
	        			{%if fishes.has_next%}
	        				<li class = ""><a href = "/aquarium/{{id}}/page/{{fishes.next_page_number}}/">Следующая</a></li>
	        			{%else%}
	        				<li class=""><a href="">Следующая</a></li>
	        			{%endif%}
	        		</ul>
	        	</div>
	        </div>
	    {%endif%}

{% endblock %}

{% block sidebar %}
{% endblock %}
