{% extends "base.html" %}


{% block title %}
Your aquariums
{% endblock %}


{% block content %}
		<div id="left">
				<form action="/type_fishes/add_type_fish/" method="post">
					{% csrf_token %}
					{{ formAddFishType }}
					<input class="btnAddAquarium" type="submit" value="Добавить" />
				</form>
		</div>
	        <table class = "Tables" border = "1">
		        <tr class="TablesFirsTrSmall">
		        	<td width="150px"> Название</td>
		        	<td> Возраст</td>
		        	<td> Объем воды</td>
		        	<td> Нерест</td>
		        	<td> Кол-во мальков</td>
		        	<td> Кол-во мальков</td>
		        	<td> Процент смертности</td>     	
		        </tr>
	        	{% for type in types %}
		            <tr class="row">
			            <td>
			            	{{type.fishTypeName}}
			            </td>
			            <td>
			            	{{type.minimumLifeTime}} - 
			            	{{type.maximumLifeTime}}
			            </td>
			            <td>
			            	{{type.waterVolume}}
			            </td>
			            <td>
			            	{{type.ageOfPuberty}}
			            </td>
			            <td>
			            	{{type.spawingPeriod}}
			            </td>
			            <td>
			            	{{type.countMinSmallFish}} -
			            	{{type.countMaxSmallFish}}
			            </td>
			            <td>
			            	{{type.deathsCount}}
			            </td>
		            </tr>
	        	{%endfor%}
	        </table>
        </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
