{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'aquarium/css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'aquarium/css/marking.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'aquarium/css/login.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'aquarium/css/pagination.css' %}" />

		<script src="{% static 'aquarium/js/scripts.js' %}" ></script>
		<title>
{% block title %}
	
{% endblock title %}
		</title>
	</head>
		<body>
			
			<div id="container">
					{% block header %}
						<div id="header">
							<div id="logo">
								<img src="{% static 'aquarium/image/logo.gif'%}" height="100" width="100">
							</div>
							{% block branding %}
							<h1><a class="link" href="{% url 'Aquariums' %}">Aquariums application</a></h1>
							{% endblock %}
							<div id="navigation">
							  <ul>
							   <li><a href= "/aquariums/">Аквариумы</a></li>
							   <li><a href="/type_fishes/">Типы рыбок</a></li>
							   {%if username %}
							   		<li><a href="/accounts/logout/">Выйти({{username}})</a></li>
						   	   {%endif%}
							  </ul>
							</div>  
						</div>
					{%endblock header%}

					<div id="content">
						<br />
					 		{% block content %}
		 						{%block login%}
								{%endblock%}
							{% endblock %}
					</div>	

			</div>

		</body>
</html>