{%extends 'base.html'%}
{% block title %}
{% endblock %}

{% block header %}
{% endblock header %}
{% block content %}
	{%block login%}
		<div class="login-form">
			<div class="login-header">
				<h1>Авторизация</h1>
			</div>
			<form action="/accounts/login/" method="post">
				<div class="login-content ">
						{%csrf_token %}
						<input class="input" type ="text" name="username" id="username" value="Логин" onfocus="this.value=''"/>
						<br />
						<br />
						<br />

	<!--					<label for="password">Пароль</label>!-->
						<input class="input" type ="password" name="password" id="password" value="Пароль"  onfocus="this.value=''"/>
						{% if login_error %}
								<label class="error">{{login_error}}</label>
						{%endif%}
				</div>
				<div class="login-footer">
					<input class="button" type="submit" value="Войти" />
				</div>
			</form>
				<form action="/accounts/register/" method="post">
					<div class="register">
						{%csrf_token %}
						<!--<input class="Register-Button" type="submit" value="Регистрация" />!-->
						<a class="register-a" href="/accounts/register/">Регистрация нового пользователя</a>
					</div>
				</form>
		</div>
	{%endblock%}
{% endblock content %}
