{%extends 'base.html'%}
{% block title %}
{% endblock %}

{% block header %}
{% endblock header %}
{% block content %}
	{%block login%}
	<div class = "login-form">
		<div class="login-header">
			<h1>Регистрация</h1>
		</div>
			<form action="/accounts/register/" method="post">
				{%csrf_token %}
				<div class="login-content">
				    {% if form.errors %}
				      <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
				    {% endif %}

				    

				    <label for="id_username">Имя пользователя:
						{% if form.username.errors %}
					      {{ form.username.errors }}
					    {% endif %}
				    </label> {{ form.username }}
				    <span>Обязательное поле. Не более 30 символов. Только буквы, цифры и символы @/./+/-/_.</span>
				    <br />
				    <br />
	    
				    <label for="id_password1">Пароль:
				    	{% if form.password1.errors %}
				      		{{ form.password1.errors }}
				    	{% endif %}
				    </label> {{ form.password1 }}
				    
				    <br />
				    <br />
				    <label for="id_password2">Повторите пароль:
					    {% if form.password2.errors %}
					      {{ form.password2.errors }}
					    {% endif %}
				    </label> {{ form.password2 }}
				    <span>Для подтверждения введите, пожалуйста, пароль ещё раз.</span>
				    
			    </div>
				    <div class="login-footer">
			    		<input class="button" type="submit" value="Зарегистрировать" />
			    	</div>
		  	</form>
	  </div>	

<!--	<div class = "login-form">
		<div class="login-header">
			<h1>Регистрация</h1>
		</div>
		<form action="/accounts/register" method="post">
			<div class="login-content">
					{% csrf_token %}
					{{form}}

			</div>
		</form>
	</div>!-->
	{%endblock%}
{% endblock content %}
