p{
	color: blue;
	font-family: Times;
	font-size: 16px;
}

h1{
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	margin-bottom: 10px;
}

h2{
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	line-height:34px;
	color: #414848;
	margin-bottom: 10px;
}


.link{
	color: #00ff60;
	text-decoration: none;
}

body{
   
	background: linear-gradient(90deg, #4df4c3 40%,#00baff);
}

.Statistic{
	padding-left : 470px;	
}
.AddingFish{
	padding-left : 15px;
}

.Tables{
	border: 1px;
	border-collapse: collapse;
	font-family:Calibri;
	margin-left: 10px;
	margin-right: 10px;
}
.Tables caption{
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: bold;
	font-size: 20px;
	line-height:34px;
	color: #414848;
	text-align: center;
	padding-left:20px;
	margin-bottom: 10px;
}
.Tables tr{
	text-align: center;
	padding-left:20px;
}
.Tables tr td {
	padding:10px;
}

.TablesFirsTr{
	padding-left:20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #0057f7;
}
.TablesFirsTrSmall{
	text-align: center;
	padding-left:20px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background: #0057f7;	
}

.row{
	text-align: left;
	margin: 0 auto;
	font-family: Times;
	font-size: 18px;
	font-weight: bold;
}
.row a:hover {
	color:#FFF;
	background-repeat: repeat-x;
	background-position: left top;
}

.text{
	font-size: 16px;
	font-weight: bold;
	color: #1628cc;
}
#tableA {
	font-size: 18px;
	text-decoration: none;
	font-family: Times;
	font-weight: bold;
}

.textAddAquarium{
	margin: 15px;
	padding: 4px 6px;
	border: 1;
}

.btnAddAquarium { 
	margin: 10px;
	margin-left: 35px;
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: .5em 2em;
	outline: none;
	border-width: 2px 0;
	border-style: solid none;
	border-color: #FDBE33 #000 #D77206;
	border-radius: 6px;
	background: linear-gradient(#F3AE0F, #E38916) #E38916;
	transition: 0.2s;
	cursor: pointer;
} 


.btnAddAquarium:hover { 
	background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
} 
.btnAddAquarium:active {
	background: linear-gradient(#f59500, #f5ae00) #f59500; 
}

.AquariumTR{
	text-align: center;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 22px;
	line-height:34px;
	color: #414848;
	margin-bottom: 10px;
}

.hint{
    position: relative;
    text-align: left; 
}

.hint:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 20%; top: 100%;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif;
    font-size: 11px; 
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    height: 80px;
    width: 130px;
}


/*
.hint{
    position: relative;
    text-align: left;
}

.hint:hover::after {
    content: attr(data-title);
    position: absolute;
    left: 20%; top: 100%;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    /*background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
	/*background: #0057f7;	
	font-family: 'Bree Serif', serif;
    color: #fff;
    font-size: 11px; 
    padding: 5px 10px; 
    border: 1px solid #333;
    height: 150px;
    width: 180px;
}*/