.login-form {
	width: 300px;
	margin: 150px 200px 200px 300px;
	/*margin: 0 auto;*/
	position: relative;
	z-index:5;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.login-form .login-header h1{
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .login-content {
	padding: 0 30px 30px 30px;
}
.login-form .login-content label{
	font-size: 16px;
	font-weight: bold;
}
.login-form .login-content span{
	font-size: 12px;
}

.login-form .login-content li{
	font-size: 14px;
	color : red;
}
.login-form .login-content input {
	width: 188px;
	padding: 15px 25px;
	/*margin-bottom: 20px;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(255,255,255,1.0);

	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.login-form .error{
	color: red;
}

.login-form .button{
	/*margin-left: 110px;*/
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
}
.login-footer{
	text-align: center;
	margin: 10px;
}
.Register-Button{
	font-family: 'Bree Serif', serif;
	font-size: 14px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #92ff80;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	width: 265px;
}

.register{
	border: 1px solid #00f7ee;
	padding: 5px;
	margin: 10px;
	text-align: center;
}

.register a{
	color: #333333;
	text-decoration: none;
	font-family: Times;
	font-weight: bold;
	font-size: 16px;
}

.register a:hover {
	color:#80a4ff;
	/*font-size: 40px;*/
	background-repeat: repeat-x;
	background-position: left top;
}