#container {
	width: 901px;
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #fff;
	background-color: rgba(0, 120, 201, 0);
}

#header {
	background-color: rgba(0, 120, 201, 0);	
	height: 120px;
	width: 900px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

#content {
	background-color: rgba(0, 120, 201, 0);
	width: 900px;
	padding: 0;
	min-height: 660px;
}

#menu {
	background-color: rgba(0, 120, 201, 0);
	width: 500px;
}

#aquarium{
	background-color: rgba(0, 120, 201, 0);
	width: 200px;	
}

#left {
	position: relative;
	background-color: rgba(0, 120, 201, 0);
	width: 200px;
	border: 1px solid yellow;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 16px;
	font-family: Calibri;
	font-weight: bold;
	padding: 10px;
}
#left input{
	width: 120px;
	padding: 5px 25px;
}
#logo{
	width: 150px;
	margin-left: 0px;
	float: left;
}

#navigation {
	width: 560px;
	height: 50px;
	background-repeat: no-repeat;
	background-position:center;
	padding-left: 100px;
	float: left;
} 
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
#navigation ul li {
	display: inline;
	margin: 0px;
} 
#navigation ul li a {
	height:28px;
	display: block;
	float: left;
	color: #333333;
	text-decoration: none;
	font-family: Times;
	font-size: 20px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 17px;
	padding-right: 15px;
	padding-bottom: 0;
	padding-left: 15px;
}
#navigation ul li a:hover {
	color:#FFF;
	background-repeat: repeat-x;
	background-position: left top;
}
#navigation ul li#active a {
	background-repeat: repeat-x;
	background-position: left top;
} 

.Cicle{
	text-align: center;
}