#pagination{
	text-align: center;
    margin: 0 20px 0 0; /* отступ справа */
}

/*
#pagination a{
    padding-top: 2px;
    width: 25px;
    height: 25px;
	text-decoration: none;
	color: #0057f7;
}
*/
#pagination a{
    padding-top: 2px;
    width: 25px;
    height: 25px;
	text-decoration: none;
	color: #0057f7;
}
#pagination li{
	list-style-type: none;
	display: inline;
	margin-right: 10px;
}
#pagination ul li a:hover {
	color:#FFF;
}
/*
#pagination a .current{
	font-size: 20px;
	color: #fff;
	background: linear-gradient(#f5ae00, #f59500) #f5ae00; 
}*/